<% if current_user %>
<% end %>

<p id="notice"><%= notice %></p>
<%#= image_tag user.image.url(:medium) %>





<% @movies.each do |movie| %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
    <%= image_tag movie.image.url(:medium) %>
      <div class="caption">
        <h3><center><%= movie.title %></center></h3>
        <p>Duration: <%= movie.duration %></p>
        <p>Director: <%= movie.director %></p>
        <p><%= link_to 'Show', movie %></p>
        <% if current_user %>
        <p><%= link_to 'Edit', edit_movie_path(movie) %></p>
        <p><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %> 

      </div>
    </div>
  </div>
    <% end %> 
<br>

<% if current_user %>

  <footer>
  <div class="container">
  <%= link_to 'New Movie', new_movie_path %>
  </div>
</footer>

<% end %>  

