
<%= image_tag @movie.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
	<strong>Average Rating is:</strong>
	<%#= @average_rating %>
<div class = "star-rating" data-number = <%= @average_rating %> ></div>

	<strong>Comments:</strong>
	<%= pluralize(@movie.reviews.count, "comment") %>
	</p>


<ul>

	<% @reviews.each do |review| %>
	<%= image_tag review.user.image.url(:thumb) %><br>
	<em> <%= review.user.username %> commented: </em>
	<li><%= review.comment %> 	<em> (<%= time_ago_in_words(review.updated_at) %> ago)</em>	</li>

	<% if current_user %>

	<%#= review.user_id %>

	<% end %>
	<div class = "star-rating" data-number = <%= review.rating %> >
	</div> 

	<% if current_user %>
	<% if current_user.id == review.user.id %>
		<%= link_to "Edit Review", edit_movie_review_path(@movie, review) %><br>

	<% end %>
	<% end %>
	<br>
	<br>
	<% end %>
</ul>

<%= render partial: 'reviews/new' %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true, 
		score: function () {

			return $(this).attr('data-number');
		}


	})
</script>