<h1>Editing Review</h1>

<%#= render 'form' %>

<%#= link_to 'Show', @review %> 
<%#= link_to 'Back', reviews_path %>

<%#= form_for([@movie, @movie.reviews.edit]) do |f| %>
<%= form_for([@movie, @review], :html => { :multipart => true }) do |f| %>
<div>
<div class = "star-rating" data-number = <%= @review.rating %> >
</div>

</div>


  <%#= @review.average(:ratings) %>

 
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: false, 
    score: function () {

      return $(this).attr('data-number');
    }


  })
</script>

<%= link_to 'Show', @movie %> |
<%= link_to 'Back', movies_path %>